.zname{
    font-size: larger;
    font-weight: bold;
    margin-left: 75px;
}
.zage{
    font-size: larger;
    font-weight: bold;
    margin-left: 160px;
}
.zsugar{
    font-size: larger;
    font-weight: bold;
    margin-left: 170px;
}
.zcreatinine{
    font-size: larger;
    font-weight: bold;
    margin-left: 52px;
}
.zhba1c{
    font-size: larger;
    font-weight: bold;
    margin-left: 72px;
}
.zsodium{
    font-size: larger;
    font-weight: bold;
    margin-left: 35px;
}
.zhdl{
    font-size: larger;
    font-weight: bold;
    margin-left: 95px;
}
.zldl{
    font-size: larger;
    font-weight: bold;
    margin-left: 65px;
}

